*{
	text-decoration:none;
}
body{
	font-family: 'helvetica-rounded-bold', sans-serif; 
}
.upper{
	min-height: 300px;
	width: 100%;
	background-image: linear-gradient(-180deg, #D5E2FF 0%, #FFFFFF 100%);
}
.upper h3{
	color: #121C25;
	text-align: center;
	line-height: 30px;
}

.upper .clouds ul li{
	list-style: none;
	padding: 2px;
}

.upper .clouds .img1{
	height: 100%;
	width: 35px;
}
.upper .clouds .img2{
	height: 100%;
	width: 50px;
}
.upper .clouds .img3{
	height: 100%;
	width: 70px;
}
.upper .clouds .img4{
	height: 100%;
	width: 50px;
}
.upper .clouds .img5{
	height: 100%;
	width: 30px;
}

#container {
    width: 450px;
    position: absolute;
    top: 30%;
    left: 36%;
}
.time{
	line-height: 50px;
	font-weight: 600;
}
.box{
	font-size: 18px;
	float:left;
	margin: 0 10px;
	width: 100px;
	text-align: center;
}
.upper a button{
	border-radius: 0px;
    background-color: #4378F8;
    color: white;
    font-size: 13px;
    box-shadow: 1px 3px 4px #95B4FB;
}

.upper img{
	position: bottom;
	overflow: hidden;
	width: 100%;
}
.middle{
	background-image: linear-gradient(-180deg, #D5E2FF 0%, #FFFFFF 100%);
}
.middle .middle1 {
	padding:60px 0px;
}
.middle .text {
    padding-left: 160px;
    padding-top: 40px;
}
.middle .text a button{
	border-radius: 0px;
    background-color: #4378F8;
    color: white;
    font-size: 13px;
    box-shadow: 1px 3px 4px #95B4FB;
}
.middle .text p{
	line-height: 1.7;
    max-width: 411px;
    font-size: 13px;
}

.middle .feature{
	padding: 0;
}
.middle img{
	height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.footer{
	background-color: #F4F4F4;
	margin-top: 60px;
	padding-bottom: 100px;
}
.footer .text{
	padding-left: 160px;
    padding-top: 40px;
}
.footers{
	padding-left: 145px;
}
.footers .img1{
	width: 220px;
	height: 260px;
	position: relative;
	cursor: pointer;
}
.footers .img1:hover .content{
	height: 60px;
}
.footers img{
	float:left;
	display: block;
	width: 220px;
	height: 260px;
}
.footers .img1 .content{
	width: 220px;
	height: 60px;
	background-color: #fff;
	color: #000;
	position: absolute;
	overflow: hidden;
	padding: 5px;
	transition: 0.7 ease;
	bottom: 0;
	opacity: 0.9;
}

.footer img:hover{
	filter: blur(2px);
}
